.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  animation: gradient-animation 18s ease infinite;
  padding-bottom: 0%
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.testimonial{
  display:flex;
  align-items: center;
  justify-content: center;
}

#footer{
  margin-bottom: 0;
}

.py-5{
  padding-bottom: 0;
}